# ingore jupyter notebooks, tex, bibtex, and lua
*.ipynb linguist-detectable=false
*.tex linguist-detectable=false
*.bib linguist-detectable=false
*.lua linguist-detectable=false
*.sty linguist-detectable=false
*.html linguist-detectable=false