name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  # Check linting, formating, types, etc.
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
    - uses: extractions/setup-just@v3
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip uv
        uv venv
        source .venv/bin/activate
        just install
    - name: Lint
      run: |
        source .venv/bin/activate
        just lint

  # Run tests
  # test:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v6
  #   - name: Set up Python
  #     uses: actions/setup-python@v6
  #     with:
  #       python-version: "3.14"
  #   - uses: extractions/setup-just@v3
  #   - name: Install Dependencies
  #     run: |
  #       python -m pip install --upgrade pip uv
  #       uv venv
  #       source .venv/bin/activate
  #       uv pip install .[test]
  #   - name: Run Tests
  #     run: |
  #       source .venv/bin/activate
  #       just test

  # # Publish to pypi
  # publish:
  #   needs: [lint, test]
  #   if: success() && startsWith(github.ref, 'refs/tags/v')
  #   runs-on: ubuntu-latest
  #   permissions:
  #     id-token: write
  #     contents: write

  #   steps:
  #     - uses: actions/checkout@v6
  #       with:
  #         fetch-depth: 0
  #     - uses: actions/setup-python@v6
  #       with:
  #         python-version: "3.x"
  #     - name: Build
  #       run: |
  #         python -m pip install build
  #         python -m build
  #     - name: Publish to PyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1