name: Docs

on:
  workflow_dispatch:

jobs: 
  render-and-publish:
    runs-on: ubuntu-latest

    steps:
    # Checkout
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - name: Set up Just
      uses: extractions/setup-just@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Quarto
      uses: quarto-dev/quarto-actions/setup@v2
    - name: Install Dependencies
      run: |
        pip install uv && uv pip install --system ".[dev,modeling,data]"
        quarto install tinytex
        sudo apt install lmodern

    # Setup
    - name: Download data
      run: |
        rs-graph-data download
      env:
        DATAVERSE_TOKEN: ${{ secrets.DATAVERSE_TOKEN }}
    
    # Render and Publish
    - name: Render and Publish
      uses: quarto-dev/quarto-actions/publish@v2
      with:
        target: gh-pages
        path: publications/qss-code-authors/
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        QSS_CODE_AUTHORSHIP_USE_SAMPLE: 0
        DATAVERSE_TOKEN: ${{ secrets.DATAVERSE_TOKEN }}